<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= location.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </p>

</div>
