<div id="<%= dom_id location %>">
  <% access_token = Rails.application.credentials.dig(:mapbox_api_key) %>
  <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s+ff0000(#{location.longitude},#{location.latitude})/#{location.longitude},#{location.latitude},13,0/300x200?access_token=#{access_token}" %>
  
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= location.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </p>

</div>
